use flake
export GIT_AUTHOR_EMAIL=john@johnmarsden.dev
export GIT_COMMITTER_EMAIL=john@johnmarsden.dev
export GIT_SSH_COMMAND="ssh -i ~/.ssh/profdoof_ed25519"
export SSH_AUTH_SOCK=
export GIT_CONFIG_KEY_0=commit.gpgSign
export GIT_CONFIG_VALUE_0=true
export GIT_CONFIG_KEY_1=user.signingKey
export GIT_CONFIG_VALUE_1=5E48CA3545E03DD7